body, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#cont {
padding-top: 100px;
}

#app {
    height: 100vh;
    background: #cccce6;
}

.green, .red {
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
}

.red {
background: #f90d0d;
}

.green {
background: #5be85b;
}

nav {
background: gray;
padding: 10px 30px;
font-size: 35px;
color: #b3d9f1;
font-weight: 900;
font-family: 'Courier New', Courier, monospace;
position: fixed;
top: 0;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

#body {
    width: 450px;
    height: fit-content;
    padding: 20px;
    margin: auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #7a7878;
    background: #f7f6f6;
}

#textbox {
    border: 2px solid black;
    padding: 5px;
    font-family: cursive;
    word-spacing: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 330px;
    line-height: 30px;
    font-size: 20px;
}

input {
    padding: 10px 30px;
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid;
}

.result {
margin-top: 10px;
border-radius: 10px;
background: #ccb0b0;
padding: 10px 0px;
display: flex;
justify-content: center;
gap: 40px;
}

.result > div {
display: grid;
gap: 10px;
}

.time {
    background: #5b644e;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    font-family: monospace;
}