@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* width: 7px; */
    display: none
}

/* ::-webkit-scrollbar-track {
    background: rgb(134, 167, 224);
}

::-webkit-scrollbar-thumb {
    background: #044999;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d3458;
} */
