@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: rgb(43, 40, 40);
}

::-webkit-scrollbar-thumb {
    background: #a0a2a2;
}

::-webkit-scrollbar-thumb:hover {
    background: #e9e6e6;
}